
html, body {
	width: 200px;
}

.hidden {
	display: none;
}

#popup-content {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.button {
	margin: 3% auto;
	padding: 4px;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
}


.reset {
	background-color: #FBFBC9;
}

.reset:hover {
	background-color: #EAEA9D;
}

